* {
  margin: 0;
  bottom: 0;
}

.App {
  color: #100e0f;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efece2;
  height: auto;
  width: auto;
  /* font-size: calc(10px + 1.3vmin); */
  /* font-size: calc(16px + 6 * ((100vw - 320px) / 680)); */
}
.header-logo {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo span {
  color: #c80105;
  font-family: "DM Serif Text", serif;
  font-size: 3vmax;
}

.home-about {
  height: 100vh;
  width: calc(80vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "DM Serif Text", serif;
}

.container-about {
  width: calc(60vw);
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6vmax;
  border-top: 2px solid black;
}

.container-about-bottom{
    width:80%;
    display: flex;
    justify-content: space-around;
    font-family: 'Lato', sans-serif;
    
}

.container-about span {
  color: #c80105;
  font-family: "DM Serif Text", serif;
  font-size: 3vmax;
}
/* NAVBAR */

.Navbarwidth {
  background-color: greenyellow;
  height: 14vh;
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
}

#Navbar {
  width: 100%;
  height: auto;
  display: flex;
}

#Links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px +1.5vmin);
}

a {
  text-decoration: none;
  line-height: normal;
  color: #262626;
}

a:visited {
  color: #262626;
}

a:hover {
  color: #262626;
  text-decoration: none;
}

a:active {
  color: #262626;
  text-decoration: none;
}


p:hover{
font-weight: 600    ;
}